<li [class.completed]="todo().isCompleted" [class.editing]="editing">
  <div class="view">
    <input class="toggle" type="checkbox" [checked]="todo().isCompleted" (change)="onToggle()" />

    <label (dblclick)="onStartEdit()">
      {{ todo().title }}
    </label>

    <button class="destroy" aria-label="Delete-todo" (click)="onRemove()"></button>
  </div>

  @if (editing){
    <input
        #todoInputRef
        class="edit"
        [(ngModel)]="draftTitle"
        aria-label="Edit-todo"
        (blur)="onCommitEdit()"
        (keyup.enter)="onCommitEdit()"
        (keyup.escape)="onCancelEdit()">
  }
</li>
