<li [class.completed]="todo().isCompleted" [class.editing]="editing">
  <div class="view">
    <input class="toggle" type="checkbox" [checked]="todo().isCompleted" (change)="onToggle()" />

    <label (dblclick)="onStartEdit()">
      {{ todo().title }}
    </label>

    <button class="destroy" aria-label="Delete-todo" (click)="onRemove()"></button>
  </div>

  @if (editing) {
    <app-input-component
      [(value)]="draftTitle"
      cssClass="edit"
      ariaLabel="Edit Todo"
      (blurEvent)="onCommitEdit()"
      (enter)="onCommitEdit()"
      (escape)="onCancelEdit()"
    >
    </app-input-component>
  }
</li>
