<section class="todoapp">
  <app-todo-header-component (add)="addTodo($event)"> </app-todo-header-component>

  <app-todo-list-component
    [todos]="(filteredTodos$ | async) ?? []"
    (toggle)="toggleTodo($event)"
    (remove)="removeTodo($event)"
    (update)="updateTodo($event)"
    (toggleAll)="toggleAll($event)"
  >
  </app-todo-list-component>

  <app-todo-footer-component
    [todosCount]="(todosCount$ | async) ?? 0"
    [activeCount]="(activeCount$ | async) ?? 0"
    [completedCount]="(completedCount$ | async) ?? 0"
    [filter]="(filter$ | async) ?? 'all'"
    (clearCompleted)="clearCompleted()"
  >
  </app-todo-footer-component>
</section>
