<section class="todoapp">
  <app-todo-header-component (add)="addTodo($event)"> </app-todo-header-component>

  <app-todo-list-component
    [todos]="filteredTodos$ | async"
    (toggleTodoChange)="toggleTodo($event)"
    (removeTodoChange)="removeTodo($event)"
    (updateTodoChange)="updateTodo($event)"
    (toggleAllTodosChange)="toggleAll($event)"
  >
  </app-todo-list-component>

  <app-todo-footer-component
    [todosCount]="todosCount$ | async"
    [activeCount]="activeCount$ | async"
    [completedCount]="completedCount$ | async"
    [filter]="filter$ | async"
    (clearCompletedChange)="clearCompleted()"
  >
  </app-todo-footer-component>
</section>
